.adminDataForm, .adminSlection {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.adminDataForm1 {
  width: 200px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 0 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.adminDataForm1:hover {
  background-color: #45a049;
}

#adminValueForm {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 35%;
  margin: auto;
  display: none;
  height: 550px;
}

#adminSideImage {
  height: 200px;
  width: 200px;
  border: 1px solid rebeccapurple;
  margin: auto;
  position: relative;
  top: -15px;
}

#uploadImg {
  width: 100%;
  height: 100%;
}

#imgLable {
  padding: 10px;
  background: red;
  display: table;
  color: #fff;
  margin: auto;
  position: relative;
  top: -25px
}

input[type="file"] {
  display: none;
}

#form_Upload_Product {
  text-align: center;
  margin-top: -35px
}

#cancelBtn {
  width: 25px;
  height: 25px;
}

/* side nav bar ===========================*/

#mySidenav {
  position: relative;
}

#mySidenav a {
  position: absolute;
  left: -140px;
  transition: 0.3s;
  padding: 17px;
  width: 156px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0px;
}

#AllProductd {
  top: 20px;
  left: 0px!important;
  background-color: #4CAF50;
}

#AddProduct {
  top: 80px;
  background-color: #2196F3;
}

#comingOrders {
  top: 140px;
  left: 0px!important;
  background-color: cadetblue;
}

#adminsidetable {
  top: 200px;
  left: 0px!important;
  background-color: darkgray;
}

#logout {
  top: 260px;
  background-color: #f44336;
}