#userTableImage {
    height: 100vh;
    background-image: url('./Images/tableBack.jpg');
    width: 100%;
    background-size: cover;
}
#alredyBookText{
    font-size: 24px;
    color: white;
    font-family: 'IBM Plex Serif', serif;
    text-shadow: 2px 2px 4px #000000;
}

#userTableText {
    color: lavenderblush;
    font-size: 30px;
    font-style: oblique;
    font-family:'IBM Plex Serif', serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#userTableBookinText {
    font-size: 3vw;
    font-family: 'IBM Plex Serif', serif;
    color: whitesmoke;
    margin-top: 50px;
    text-shadow: 2px 2px 4px #000000;
    /* margin-left: 100px; */
    text-align: center;
}

@media screen and (max-width:600px) {
    #userTableBookinText {
        font-size: 30px;
    }
}

.userTableTags {
    height: 50px;
    width: 220px;
    font-size: 20px;
    border: 4px double rgb(92, 0, 0);
    background-color: rgb(255, 230, 230);
    color: rgb(0, 0, 0);
    box-shadow: 5px 10px #a0a0a0;
}

#userInsideData {
    text-align: center;
}

#userTableInputBtn {
    background-color: rgb(2, 146, 151);
    border: none;
    color: rgb(255, 255, 255);
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bolder;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'IBM Plex Serif', serif;
}

#userTableInputBtn:hover {
    background-color: #8d6b2b;
    color: white;
}

/* booking table */

#bookingDiv {
    text-align: center;
    color: white;
    /* margin-top: 50px; */
}

#bookingTable {
    font-family:'IBM Plex Serif', serif;
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}

#bookingTable td, #bookingTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#bookingTable th {
    padding-top: 12px;
    padding-bottom: 8px;
    width: 30%;
    text-align: center;
    background-color: rgb(235, 235, 235);
    color: rgb(61, 61, 61);
    font-size: large;
    font-family: 'IBM Plex Serif', serif;
    border: 2px solid  rgb(32, 32, 32);
    /* width: 1000px; */
}

#line{
    width: 60%;
    opacity: 0.5;
}
.tableHeadings{
    width: 10px;
}